<div class="theoplayer-container video-js theoplayer-skin vjs-16-9"></div>
<link rel="stylesheet" type="text/css" href="https://cdn.myth.theoplayer.com/5eefa595-7445-41f4-b7b3-b0813e07f402/ui.css">
<script type="text/javascript" src="https://cdn.myth.theoplayer.com/5eefa595-7445-41f4-b7b3-b0813e07f402/THEOplayer.js"></script>
<script>
var element = document.querySelector('.theoplayer-container'); // fetch THEOplayer container div

var player = new THEOplayer.Player(element, { // instantiates video player
  libraryLocation: '/path/to/your-theoplayer-folder/', // references folder containing your THEOplayer library files (theoplayer.p.js, THEOplayer.js, ...)
  license: 'sZP7IYe6T6fcIDCZCo41Cmk60l16FSai0LB-CDarTOzLIlU1TS5k0Qx10Qa6FOPlUY3zWokgbgjNIOf9flatIlfk3ofcFD3g0Sf-3Qht3mzrTS5rFSXl0SAK0lbk3lxl3mfVfK4_bQgZCYxNWoryIQXzImf90SCL3ufi3SCi0u5i0Oi6Io4pIYP1UQgqWgjeCYxgflEc3lf_TSht0ueiTSakFOPeWok1dDrLYtA1Ioh6TgV6v6fVfKcqCoXVdQjLUOfVfGxEIDjiWQXrIYfpCoj-fgzVfKxqWDXNWG3ybojkbK3gflNWf6E6FOPVWo31WQ1qbta6FOPzdQ4qbQc1sD4ZFK3qWmPUFOPLIQ-LflNWfK1zWDikfgzVfG3gWKxydDkibK4LbogqW6f9UwPkIYz' // references your THEOplayer SDK license
});

// HLS
player.source = {
  sources: [{
    src: '//cdn.theoplayer.com/video/star_wars_episode_vii-the_force_awakens_official_comic-con_2015_reel_(2015)/index.m3u8',
          type: 'application/x-mpegurl'
  }]
};

// DASH
// player.source = {
//     sources : [{
//         src : '//amssamples.streaming.mediaservices.windows.net/634cd01c-6822-4630-8444-8dd6279f94c6/CaminandesLlamaDrama4K.ism/manifest(format=mpd-time-csf)', // sets DASH source
//         type : 'application/dash+xml' // sets type to MPEG-DASH
//     }]
// };
</script>
