<div style="background-color:rgba(0, 0, 0, 0.0);">
  <div class="card-body">
      <h1 class="card-title" style="color :rgb(11, 5, 41)" >Welcome to our platform's feed!</h1>
      <h6 class="card-title" style="color :rgb(11, 5, 41)" >You can post a problem/ ask a question or interact with other users!!</h6>
<nb-tabset>
  <nb-tab tabTitle="Questions">
    <app-feed></app-feed>>
  </nb-tab>
  <nb-tab tabTitle="Problems">
    <app-feedproblem></app-feedproblem>>
  </nb-tab>
 </nb-tabset>
</div>
</div>
