<div class="wrapper">
  <div class="page-header section-dark">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <div class="center">
                      <img src="assets/logo.png" width="700" height="900" alt="" >
                  </div>




          </div>
      </div>
      <div class="moving-clouds" style="background-image: url('assets/clouds.png'); "></div>
      <h6 class=" center1">Designed and made by
      <!-- <h6 class="category category-absolute">Designed and coded by -->

          <a href="https://www.creative-tim.com" target="_blank">
              <img src="assets/AAAKKKFFAA.png" class="creative-tim-logo" width="90" height="50">
          </a>
      </h6>
  </div>
  </div>

