<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/zz.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="center">
                        <img src="assets/FinalLogo.png" width="700" class="center" height="900" alt="" >
                    </div>

                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>


            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto" class="center1"><strong>Designed and made by :</strong>
        <!-- <h6 class="category category-absolute">Designed and coded by -->

            <a  target="_blank">
              <img src="assets/AAAKKKFFAA.png" class="center" width="1000" height="100">
            </a>
        </h6>
    </div>
    </div>

